[submodule "vi/scripts/mutt-aliases"]
	path = vi/scripts/mutt-aliases
	url = https://github.com/vim-scripts/mutt-aliases.git
[submodule "zsh/zprezto"]
	path = zsh/zprezto
	url = https://github.com/sorin-ionescu/prezto.git
